OPEN_WEATHER_API_KEY=your_api_key
OPEN_WEATHER_API_URL=https://api.openweathermap.org

REFRESH_TOKEN_SECRET=your_jwt_secret

ORIGIN_PATTERNS=http://your-ip-adress:*
ALLOWED_ORIGINS=http://your-ip-adress:port

IMAGE=ghcr.io/ddevuss/weather-oracle:latest

SPRING_DATASOURCE_USERNAME=username
SPRING_DATASOURCE_PASSWORD=password
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/postgres