# ===== OpenWeather =====
APPLICATION_OPEN_WEATHER_API_KEY=your_api_key

# ===== JWT =====
# Requred Base64 >=32 byte. If it is not valid it will be generated a new one
APPLICATION_JWT_SECRET=your_secret

# ===== CORS =====
# Optinal. Defoult values: http://localhost:* and http://localhost:4020
APPLICATION_CORS_ALLOWED_ORIGIN_PATTERNS=http://localhost:*,https://your-domain.com
APPLICATION_CORS_ALLOWED_ORIGINS=http://localhost:4020,https://your-frontend.example

# ===== Datasource =====
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=pass
