OPEN_WEATHER_API_KEY=your_api_key
OPEN_WEATHER_API_URL=https://api.openweathermap.org
OPEN_WEATHER_API_JWT_SECRET=your_jwt_secret

DB_USERNAME=username
DB_PASSWORD=password
DB_URL=jdbc:postgresql://localhost:5432/postgres