@if (errorMessage()) {
  <div class="error-text">
    {{ errorMessage() }}
  </div>
} @else if (locations()) {
  @for (location of locations(); track keyOf(location)) {
    <app-found-location-card
      [location]="location"
      [isDuplicated]="isDuplicated(location)"
      (saveRequested)="onSaveRequested($event)"
    />
  } @empty {
    <div class="error-text">
      Locations were not found.
    </div>
  }
  <div>
    <button type="button" (click)="goBack()" class="btn lighting_text">Return</button>
  </div>
}
