<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Fragments</title>
</head>
<body>

<div th:fragment="header-nav">
    <header>
        <nav class="row header-background">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="text-center light-text">Weather Oracle</h1>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center"
                     th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="dropdown">
                        <button class="btn btn-itd dropdown-toggle light-text" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                th:text="${#authentication.principal.username}">
                            Account
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item dropdown-element" type="submit">Sign-out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center"
                     th:unless="${#authorization.expression('isAuthenticated()')}">
                    <div class="dropdown">
                        <button class="btn btn-itd dropdown-toggle light-text" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Login or registration
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                            <li><a class="dropdown-item dropdown-element" href="/login">Sign-in</a></li>
                            <li><a class="dropdown-item dropdown-element" href="/registration">Registration</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>

<div th:fragment="return-button">
    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <form action="/forecast" method="get">
                <button class="btn light-text app-button" type="submit">return</button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="search-panel">
    <div class="container mt-3 search-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="d-flex" action="/location/search" method="get">
                    <input class="form-control me-2 app-input" type="search" placeholder="searching"
                           aria-label="searching" th:value="${locationName}"
                           name="locationName">
                    <button class="btn app-button light-text" type="submit">search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="header-nav-authentication">
    <header>
        <nav class="row header-background">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="text-center light-text">Weather Oracle</h1>
            </div>
            <div class="col-3"></div>
        </nav>
    </header>
</div>

<div th:fragment="footer">
    <footer class="footer-background d-flex align-items-center">
        <div class="col-1">
            <a href="https://github.com/dDevusS/weather-oracle" title="Go to project on GitHub">
                <img src="/img/github-mark-white.svg" alt="GitHub" style="height: 30px; width: 30px">
            </a>
        </div>
        <div class="col-4"></div>
        <div class="col-7 d-flex align-items-center justify-content-end">
            <a class="light-text" href='https://ru.pngtree.com/freebackground/planet-earth-at-night_1703639.html'>
                Image from ru.pngtree.com
            </a>
        </div>
    </footer>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>