<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Weather Oracle</title>
</head>
<body>
<div th:insert="~{fragments.html :: header-nav-authentication}">Navigation panel</div>

<div th:insert="~{fragments.html :: return-button}"></div>

<div th:insert="~{fragments.html :: footer}">Footer</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>