<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Oracle</title>
</head>
<body>
<div id="main-container">
    <div id="logging-container">
        <form action="/login" method="post">
            <div id="login-input">
                <label for="login-input-field">Login:
                    <input id="login-input-field" type="text" name="login">
                </label>
            </div>
            <div id="password-input">
                <label for="password-input-field">Password:
                    <input id="password-input-field" type="password" name="password">
                </label>
            </div>
        </form>
    </div>
</div>
</body>
</html>