<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Oracle</title>
</head>
<body>
<div id="main-container">
    <div id="registration-container">
        <form action="/registration" method="post">
            <div id="error" th:if="${errorMessage}">
                <p style="color: red" th:text="${errorMessage}">Error message</p>
            </div>
            <div id="login-input">
                <label for="login-input-field">Login:
                    <input id="login-input-field" type="text" name="login" th:value="${userLogin}">
                </label>
            </div>
            <div id="password-input">
                <label for="password-input-field">Password:
                    <input id="password-input-field" type="password" name="rawPassword">
                </label>
                <label for="confirm-password-input-field">Confirm password:
                    <input id="confirm-password-input-field" type="password" name="confirmRawPassword">
                </label>
            </div>
            <div id="login-button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>