<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Weather Oracle</title>
</head>
<body>
<div th:insert="~{fragments.html :: header-nav-authentication}"></div>

<div class="container-fluid" style="padding: 50px 0 50px 0">
    <div class="row">
        <div class="col"></div>
        <div class="col app-block">
            <form action="/registration" method="post">
                <div class="row">
                    <div class="col d-flex justify-content-start" style="padding-bottom: 25px">
                        <label class="common-text" for="login-input-field">Login:
                            <input class="app-input" id="login-input-field" type="text" name="login"
                                   th:value="${userLogin}">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-start" style="padding-bottom: 10px">
                        <label class="common-text" for="password-input-field">Password:
                            <input class="app-input" id="password-input-field" type="password" name="rawPassword">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-start" style="padding-bottom: 25px">
                        <label class="common-text" for="confirm-password-input-field">Confirm password:
                            <input class="app-input" id="confirm-password-input-field" type="password"
                                   name="confirmRawPassword">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-start" style="padding-bottom: 25px">
                        <button class="btn app-button light-text" type="submit">Submit
                        </button>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col d-flex justify-content-start" style="padding-bottom: 25px">
                    <div th:insert="~{fragments.html :: return-button}"></div>
                </div>
            </div>

            <div class="errors" th:if="${errorMessages}">
                <div th:each="error : ${errorMessages}">
                    <div class="row">
                        <div class="col justify-content-start" style="padding-bottom: 15px">
                            <p class="error-text" th:text="${error.getDefaultMessage()}">Error message</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="errors" th:if="${errorMessage}">
                <div class="row">
                    <div class="col justify-content-start">
                        <p class="error-text" th:text="${errorMessage}">Error message</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div th:insert="~{fragments.html :: footer}">Footer</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>